@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Raspberry Radio";
}

<div id="areaHome">
    <div class="row">
        <div class="col-7 col-sm-7 col-md-7 col-lg-7 mx-auto">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 mx-auto">
                    <div class="row">
                        <div id="clock" class="text-center"></div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6" style="border-left: 1px solid #808080;">
                    <div id="openWeatherCarousel" class="carousel slide carousel-openWeather" data-ride="carousel" data-interval="30000">
                        @Html.Raw(Model.OpenWeatherCarouselContent)
                    </div>
                </div>
            </div>

            <!--Vorhersage-->
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto weather-forecast-container-start"></div>
            </div>
            <div class="row">
                <div id="forecastWeather" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ticker">
                    <ul id="forecastWeatherList">
                        @Html.Raw(Model.OpenWeatherForecastContent)
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 weather-forecast-container-end"></div>
            </div>

            <!-- Kalendereinträge -->
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="simple-marquee-container">
                        <div class="marquee">
                            <ul class="marquee-content-items" id="calendarList">
                                @Html.Raw(Model.CalendarEventContent)
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto calendar-container-end"></div>
            </div>

            <!-- Radiospeicher -->
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
                    <div class="align-middle text-center">
                        <div class="row">
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 align-content-center station-fav-active">
                                <div id="radioFav1" class="station-fav-content">@Html.Raw(Model.RadioTopFav1Name)</div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 align-content-center station-fav">
                                <div id="radioFav2" class="station-fav-content">@Html.Raw(Model.RadioTopFav2Name)</div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 align-content-center station-fav">
                                <div id="radioFav3" class="station-fav-content">@Html.Raw(Model.RadioTopFav3Name)</div>
                            </div>
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                                <button id="startFull" class="button-transparent station-fav-elements" onclick="play()">
                                    <span class="fa fa-play" style="color: white;"></span>
                                </button>
                            </div>
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                                <button id="startFull" class="button-transparent station-fav-elements" onclick="stop()">
                                    <span class="fa fa-stop" style="color: white;"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 align-content-center station-fav">
                                <div id="radioFav4" class="station-fav-content">@Html.Raw(Model.RadioTopFav4Name)</div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 align-content-center station-fav">
                                <div id="radioFav5" class="station-fav-content">@Html.Raw(Model.RadioTopFav5Name)</div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 align-content-center station-fav">
                                <div id="radioFav6" class="station-fav-content">@Html.Raw(Model.RadioTopFav6Name)</div>
                            </div>
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                                <button id="startFull" class="button-transparent station-fav-elements" onclick="volumeDown()">
                                    <span class="fa fa-volume-down" style="color: white;"></span>
                                </button>
                            </div>
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                                <button id="startFull" class="button-transparent station-fav-elements" onclick="volumeUp()">
                                    <span class="fa fa-volume-up" style="color: white;"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-5 col-sm-5 col-md-5 col-lg-5">
            <div id="dailyScriptureCarousel" class="carousel slide carousel-dailyScripture" data-ride="carousel" data-interval="30000">
                @Html.Raw(Model.DailyScriptureCarouselContent)
            </div>
        </div>
    </div>

    @Html.Raw(Model.DailyScriptureModalContent)

    @Html.Raw(Model.OpenWeatherModalContent)

</div>

<!-- Radio -->
<div id="areaRadio" style="display: none;">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 align-content-center station-fav">
            <div id="radioFav1" class="station-fav-content"></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 align-content-center station-fav">
            <div id="radioFav2" class="station-fav-content"></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 align-content-center station-fav">
            <div id="radioFav3" class="station-fav-content"></div>
        </div>
    </div>
</div>

<!-- Konfiguration -->
<div id="areaConf" style="display: none;">
    <div class="row">
        <!--Sidemenu-->
        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 config-nav">
            <div class="row">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center">
                    <a onclick="showConfArea('confAreaDailyScripture')">
                        <span class="fa fa-book-open " id="homeNav"></span>
                    </a>
                    <hr id="dailyLine" class="menueLine" />
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center">
                    <a onclick="showConfArea('confAreaToken')">
                        <span class="fa fa-key" id="tokenNav"></span>
                    </a>
                    <hr id="tokenLine" class="menueLine" />
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center">
                    <a onclick="showConfArea('confAreaWeather')">
                        <span class="fa fa-cloud-sun-rain" id="weatherNav"></span>
                    </a>
                    <hr id="weatherLine" class="menueLine" />
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center">
                    <a onclick="showConfArea('confAreaCalendar')">
                        <span class="fa fa-calendar" id="calendarNav"></span>
                    </a>
                    <hr id="calendarLine" class="menueLine" />
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center">
                    <a onclick="showConfArea('confAreaRadio')">
                        <span class="fa fa-broadcast-tower" id="radioNav"></span>
                    </a>
                    <hr id="radioLine" class="menueLine" />
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center">
                    <a href="#conf/#music" onclick="window.location.reload()">
                        <span class="fa fa-music" id="musicNav"></span>
                    </a>
                    <hr id="musicLine" class="menueLine" />
                </div>
            </div>


        </div>

        <div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xl-10">

            <!--Tagestext-->
            <div id="confAreaDailyScripture" style="display: none;">
                <h6>Tagestext</h6>
                <hr />
                <table class="table table-dark table-hover" id="dailyScripturesList">
                    <thead>
                        <tr>
                            <th style="width: 90%">@Html.DisplayNameFor(model => model.DailyScriptureLanguage.Language)</th>
                            <th style="width: 5%"></th>
                            <th style="width: 5%"><span class="fa fa-plus-circle span-clickable" onclick="addDailyScripture()"></span></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var dailyScriptureLanguage in Model.DailyScriptureLanguages)
                        {
                            <tr>
                                <td>@dailyScriptureLanguage.Language</td>
                                <td><span class="fa fa-edit span-clickable" onclick="editDailyScripture(@dailyScriptureLanguage.Id)"></span></td>
                                <td>
                                    @using (Html.BeginForm())
                                    {
                                        <input type="hidden" id="@dailyScriptureLanguage.Id" asp-for="DailyScriptureLanguage.Id" />
                                        <button type="submit" class="button-transparent" asp-page-handler="DeleteDailyScripture"><span class="fa fa-trash"></span></button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- Token -->
            <div id="confAreaToken" style="display: none;">
                <div id="tokenForm" class="div-form">
                    <h6>Token</h6>
                    <hr />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <input type="hidden" id="tokenFormId" asp-for="Token.Id" />
                        <div class="form-group row">
                            <label class="col-4 col-lg-4 col-md-4 col-sm-4 col-xl-4" for="tokenFormDirbleToken">Dirble:</label>
                            <div class="col-8 col-lg-8 col-md-8 col-sm-8 col-xl-8">
                                <input class="form-control" id="tokenFormDirbleToken" asp-for="Token.DirbleToken" />
                                <span asp-validation-for="Token.DirbleToken" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-lg-4 col-md-4 col-sm-4 col-xl-4" for="tokenFormOpenWeatherToken">OpenWeather:</label>
                            <div class="col-8 col-lg-8 col-md-8 col-sm-8 col-xl-8">
                                <input class="form-control" id="tokenFormOpenWeatherToken" asp-for="Token.OpenWeatherToken" />
                                <span asp-validation-for="Token.OpenWeatherToken" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-right">
                                <button type="submit" class="button-transparent" asp-page-handler="SaveToken"><span class="fa fa-save"></span></button>
                            </div>

                        </div>
                    }
                </div>
            </div>

            <!-- Wetter -->
            <div id="confAreaWeather" style="display: none;">
                <div class="div-form">
                    <h6>Wettervorhersage</h6>
                    <hr />
                    <div class="row">
                        <div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xl-10 text-left">
                            St&auml;dte
                        </div>
                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-center">
                            <button class="button-transparent" onclick="askForCityRefresh()"><span class="fa fa-sync"></span></button>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-left">
                            <table class="table table-dark table-hover" id="openWeatherCityList">
                                <thead>
                                    <tr>
                                        <th style="width: 80%">@Html.DisplayNameFor(model => model.OpenWeatherCity.Name)</th>
                                        <th style="width: 10%">@Html.DisplayNameFor(model => model.OpenWeatherCity.Country)</th>
                                        <th style="width: 5%"></th>
                                        <th style="width: 5%"><span class="fa fa-plus-circle span-clickable" onclick="addOpenWeather()"></span></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var openWeatherCity in Model.SavedOpenWeatherCities)
                                    {
                                        <tr>
                                            <td>@openWeatherCity.Name </td>
                                            <td>@openWeatherCity.Country</td>
                                            <td><span class="fa fa-edit span-clickable" onclick="editOpenWeatherCity(@openWeatherCity.Id)"></span>
                                            <td>
                                                @using (Html.BeginForm())
                                                {
                                                    <input type="hidden" id="cityId" asp-for="@openWeatherCity.CityId" />
                                                    <button type="submit" class="button-transparent" asp-page-handler="DeleteOpenWeatherCity"><span class="fa fa-trash"></span></button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Kalender -->
            <div id="confAreaCalendar" style="display: none;">
                <div class="div-form">
                    <h6>Kalender</h6>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-left">
                            <table class="table table-dark table-hover" id="openWeatherCityList">
                                <thead>
                                    <tr>
                                        <th style="width: 80%">@Html.DisplayNameFor(model => model.Calendar.Name)</th>
                                        <th style="width: 15%"></th>
                                        <th style="width: 5%"><span class="fa fa-plus-circle span-clickable" onclick="addCalendar()"></span></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var calendar in Model.Calendars)
                                    {
                                        <tr>
                                            <td>@calendar.Name </td>
                                            <td><span class="fa fa-edit span-clickable" onclick="editCalendar(@calendar.Id)"></span>
                                            <td>
                                                @using (Html.BeginForm())
                                                {
                                                    <input type="hidden" id="calendarId" asp-for="@calendar.Id" />
                                                    <button type="submit" class="button-transparent" asp-page-handler="DeleteCalendar"><span class="fa fa-trash"></span></button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Radio -->
            <div id="confAreaRadio" style="display: none;">
                <div class="div-form">
                    <h6>Radio Favoriten</h6>
                    <hr />

                    <div class="row">
                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 radioFavorites">
                            <div class="row">
                                <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left ">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>Pos</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>1</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>2</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>3</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>4</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>5</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>6</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>7</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>8</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>9</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>10</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>11</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>12</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>13</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>14</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>16</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>17</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>18</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>19</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center favpos">
                                            <span>20</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-11 col-lg-11 col-md-11 col-sm-11 col-xl-11 text-left">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-left favpos">
                                            <span>Sender</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-left">
                                            <ul id="radiofavlist">
                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(1)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                           <div id="radiofavimg1"></div>
                                                        </div>
                                                        <div id="FavPos1" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 1
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(1)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(2)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg2"></div>
                                                        </div>
                                                        <div id="FavPos2" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 2
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(2)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(3)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg3"></div>
                                                        </div>
                                                        <div id="FavPos3" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 3
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(3)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(4)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg4"></div>
                                                        </div>
                                                        <div id="FavPos4" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 4
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(4)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(5)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg5"></div>
                                                        </div>
                                                        <div id="FavPos5" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 5
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(5)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(6)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg6"></div>
                                                        </div>
                                                        <div id="FavPos6" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 6
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(6)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(7)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg7"></div>
                                                        </div>
                                                        <div id="FavPos7" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 7
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(7)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(8)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg8"></div>
                                                        </div>
                                                        <div id="FavPos8" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 8
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(8)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(9)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg9"></div>
                                                        </div>
                                                        <div id="FavPos9" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 9
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(9)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle radiofav-add" onclick="addRadioFav(10)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg10"></div>
                                                        </div>
                                                        <div id="FavPos10" class="col-8 col-lg-8 col-md-8 col-sm-8 col-xl-8 text-left">
                                                            Position 10
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars radiofav-add"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(11)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg11"></div>
                                                        </div>
                                                        <div id="FavPos11" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 11
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(11)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(12)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg12"></div>
                                                        </div>
                                                        <div id="FavPos12" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 12
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(12)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(13)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg13"></div>
                                                        </div>
                                                        <div id="FavPos13" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 13
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(13)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(14)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg14"></div>
                                                        </div>
                                                        <div id="FavPos14" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 14
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(14)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(15)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg15"></div>
                                                        </div>
                                                        <div id="FavPos15" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 15
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(15)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(16)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg16"></div>
                                                        </div>
                                                        <div id="FavPos16" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 16
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(16)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>


                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(17)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg17"></div>
                                                        </div>
                                                        <div id="FavPos17" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 17
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(17)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(18)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg18"></div>
                                                        </div>
                                                        <div id="FavPos18" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 18
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(18)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(19)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg19"></div>
                                                        </div>
                                                        <div id="FavPos19" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 19
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(19)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="radiofavlist-element">
                                                    <div class="row">
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-plus-circle span-clickable radiofav-icon" onclick="addRadioFav(20)"></span>
                                                        </div>
                                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2 text-left">
                                                            <div id="radiofavimg20"></div>
                                                        </div>
                                                        <div id="FavPos20" class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 text-left">
                                                            Position 20
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-trash span-clickable radiofav-icon" onclick="deleteRadioFav(20)"></span>
                                                        </div>
                                                        <div class="col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 text-left">
                                                            <span class="fa fa-bars span-clickable radiofav-icon radiofav-moveable"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modals -->

    @{await Html.RenderPartialAsync("~/Pages/Partials/_LanguageForm.cshtml", null);} 

    @{await Html.RenderPartialAsync("~/Pages/Partials/_OpenWeatherCityForm.cshtml", null);}

    @{await Html.RenderPartialAsync("~/Pages/Partials/_CalendarForm.cshtml", null);}

    @{await Html.RenderPartialAsync("~/Pages/Partials/_RadioSearch.cshtml", null);}
</div>




